body {
    background: url(../img/destination/background-destination-mobile.jpg) center center/cover no-repeat;
}

ul {
    list-style: none;
    margin: 1rem 3rem;
}

ul li {
    padding: 0 1rem;
}

ul li a {
    text-decoration: none;
    color: var(--light);
}

img.planet {
    display: block;
    width: 65%;
    margin: 2rem auto;
}

.destinations {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.name-planet {
    font-size: 2rem;
}

