@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');


:root {
 --color-blue-dark: #0B0D17;
 --color-blue-light: #D0D6f9;
 --light: #FFFFFF;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bellefair', serif;
    color: #FFFFFF;
    background: var(--color-blue-dark);
    height: 100vh;
    background: url(../img/home/background-home-mobile.jpg) center center/cover no-repeat;
}

a { 
    text-decoration: none;
    color: var(--color-blue-dark);
}

.container {
    margin: 2rem;
    text-align: center;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.navbar .menu > i {
    font-size: 1.8rem;
}

.menu-title > p.sub{
    margin-bottom: 2rem;
    font-size: 1rem;
}

.menu-title > h1 {
    margin-bottom: 2rem;
    font-size: 6rem;
    font-weight: 6;
}

.menu-title > p.menu-description {
    font-size: 1.4rem;
    font-family: 100;
    margin-bottom: 4rem;
}

.btn-menu {
    cursor: pointer;
    padding: 5rem 3rem;
    border-radius: 100%;
    border: none;
    text-align: center;
    font-size: 1.4rem;
    color: var(--color-blue-dark);
    background: #fffffff6;
}

.btn-menu:hover{
}